*, *::after, *::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
}
:root {
   --slider-w: 96vw;
}
body {
   position: relative;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
h1 {
   font-family: arial;
}
#image_slider {
   position: relative;
   width: var(--slider-w);
   height: 300px;
   display: flex;
   justify-content: center;
   border-radius: 1vw;
   overflow: hidden;
}
#image_slider #all_slides::-webkit-scrollbar {
   display: none;
}
#image_slider #all_slides {
   position: relative;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   width: auto;
   height: 100%;
   overflow-x: scroll;
   overflow-y: hidden;
   cursor: pointer;
}
#image_slider .slide {
   position: relative;
   width: var(--slider-w);
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#image_slider #image_click_selection {
   --radius: 15px;
   position: absolute;
   bottom: 5%;
   display: grid;
   grid-auto-flow: column;
   background-color: rgba(0, 0, 0, 0.2);
   border-radius: 20px;
   backdrop-filter: blur(2px);
   padding: 5px 10px;
   z-index: 2;
}
#image_slider .option {
   position: relative;
   width: var(--radius);
   height: var(--radius);
   cursor: pointer;
   border-radius: 100px;
   margin: 0 2px;
   background-color: transparent;
   border: solid 1px white;
   transition: background-color 300ms linear;
}
#image_slider .option.active {
   background-color: #ffffff88;
   border: solid 1px white;
}
